/* General */
* { box-sizing: border-box; }

:root {
  --purple-light-1: #FBFAFB;
  --purple-light-2: #EEEAF2;
  --purple-medium-1: #AA83C8;
  --purple-medium-2: #8B48BF;
  --purple-medium-3: #5C218A;
  --purple-dark-1: #3E0F64;
  --purple-dark-2: #2A0646;
  --darktheme-g: #262626;
  --darktheme-s: #333333;
  --text-color: #d4d4d4;

  --yellow: #EECC75;
  --yellowC: #fffb13a2;
  --burgundyC: #a82020;
  --darkC: #0f0f0fc7;
  --darkC-2: #290921d7;
  --greyC: #add8e6;
  --greyC-2: #646464;
  --greenC: #61af4d;
  --greenC-2: #3c9e24;
  --redC: #f12222e1;
  --blueC: #2230f1c4;
  --green: #CAD297;
  --aqua: #B7EAC5;
  --lightBlue: #A2EEE5;
  --darkBlue: #8EA2EA;
  --red: #F09D9D;
  --oragne: #ff6600;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  background-color: var(--darktheme-g);
}

body {
  background-color: var(--darktheme-g);
  color: var(--text-color);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 24px;
  color: var(--text-color);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: var(--text-color);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--text-color);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--purple-light-2);
  color: var(--purple-medium-2);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--purple-medium-1);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--purple-dark-1);
  border: none;
  color: var(--purple-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}


/* Shared */
.header-container, .trendingPreview-header, .categoriesPreview-container {
  padding: 0 24px;
}

/* .trendingPreview-container {
  background-color: var(--darktheme-s);
} */
.trendingPreview-container, .categoriesPreview-container, footer {
  margin-top: 48px;
}

.trendingPreview-header, .categoriesPreview-title {
  margin-bottom: 24px;
}

.serie-container {
  cursor: pointer;
}

.serie-img {
  border-radius: 8px;
}

.categoriesPreview-list, .categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}


/* Header */
.header-container {
  padding-top: 40px;
}

.header-container--long {
  background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url();
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 

.header-title {
  margin-bottom: 16px;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}
.header-arrow--white {
  color: var(--purple-light-1);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* Trending */
.trendingPreview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 72px;
}

.trendingPreview-serieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.trendingPreview-serieList .serie-container {
  display: inline-block;
  margin-right: 8px;
}

.trendingPreview-serieList .serie-container .serie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}


/* Categories */
.category-container {
  width: 45%;
}

.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title::before {
  content: '••••';
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}
/* #id28 { --idColor: var(--yellow); }name: Action */
/* #id12 { --idColor: var(--red); }name: Adventure */
#id10759 { --idColor: var(--burgundyC); }/* name: Action and adventure*/
#id16 { --idColor: var(--green); }/* name: Animation*/
#id35 { --idColor: var(--yellowC); }/* name: Comedy*/
#id80 { --idColor: var(--darkC-2); }/* name: Crime*/
#id99 { --idColor: var(--purple-dark-1); }/* name: Documentary*/
#id18 { --idColor: var(--purple-medium-1); }/* name: Drama*/
#id10762 { --idColor: var(--blueC); }/* name: Kids*/
#id10763 { --idColor: var(--greyC-2); }/* name: News*/
#id10765 { --idColor: var(--oragne); }/* name: Sci-Fi and Fantasy*/
#id10767 { --idColor: var(--greenC-2); }/* name: Sci-Fi and Talk*/
#id10751 { --idColor: var(--yellow); }/* name: Family*/
#id14 { --idColor: var(--red); }/* name: Fantasy*/
#id36 { --idColor: var(--green); }/* name: History*/
#id27 { --idColor: var(--lightBlue); }/* name: Horror*/
#id10402 { --idColor: var(--darkBlue); }/* name: Music*/
#id9648 { --idColor: var(--darkC); }/* name: Mystery*/
#id10764 { --idColor: var(--greyC); }/* name: Reality*/
#id10766 { --idColor: var(--greenC); }/* name: Soap*/
#id10768 { --idColor: var(--redC); }/* name: War and politics*/
#id10749 { --idColor: var(--purple-medium-1); }/* name: Romance*/
#id878 { --idColor: var(--yellow); }/* name: Science Fiction */
#id10770 { --idColor: var(--red); }/* name: TV Movie */
#id53 { --idColor: var(--green); }/* name: Thriller*/
#id10752 { --idColor: var(--lightBlue); }/* name: War*/
#id37 { --idColor: var(--darkBlue); }/* name: Western*/

/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .serie-container {
  display: inline-block;
  width: 47.5%;
}

.genericList-container .serie-img {
  width: 100%;
}


/* Movie Detail */
.serieDetail-container {
  min-width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: var(--darktheme-g);
}

.serieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.serieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.serieDetail-score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.serieDetail-description {
  margin: 0 0 24px 0;
}

.relatedSerie-container {
  margin-top: 24px;
  height: 216px;
}

.relatedSerie-title {
  margin-bottom: 16px;
}

.relatedSeries-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}

.relatedSeries-scrollContainer .serie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedSeries-scrollContainer .serie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
  

/* Footer */
footer {
  background-color: var(--purple-medium-3);
  color: var(--purple-light-2);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navigation */
.inactive {
  display: none;
}